axi4/proj*/*
axi4/.Xil
axi4/*.jou
axi4/*.log
axi4/*.str

axil/proj*/*
axil/.Xil
axil/*.jou
axil/*.log
axil/*.str

axis/proj*/*
axis/.Xil
axis/*.jou
axis/*.log
axis/*.str

axis-link/proj*/*
axis-link/.Xil
axis-link/*.jou
axis-link/*.log
axis-link/*.str